/* Global setting */
body{
    position: absolute;
}
body, header, section, .container{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

a, li{
    text-decoration: none;
    list-style: none;
}

h2, h3{
    margin: 0;
}

span{
    color: #909396;
}


/* navbar */
nav{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #bdc1c6;
    background-color: #fff;
}

.menu-wrapper{
    display: flex;
    justify-content:space-between;
}

.menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-burger span{
    display: block;
    width: 23px;
    height: 2px;
    margin-bottom: 5px;
    background: #000000;
    border-radius: 3px;
}

.logo img{
    height: 32px;
    width: 185px;
}

.products, .event, .developer-community, .blog, .more-selector, .language-selector{
    display: none;
}

.side-menu{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon{
    height: 32px;
    width: 33.5px;
    background-color: brown;
    border-radius: 50%;
    text-align: center;
    line-height: 200%;
}

.icon span{
    color: #ffffff;
    font-size: 17px;
}

/* Showcase */
.showcase .container{
    padding:80px 0px 58px; 
    border-bottom:1px solid #818589;
}

.title{
    line-height: 1.2;
}

.title h1{
    font-size: 45px;
    font-weight: normal;
}

.title h1 span{
    font-weight: bold;
    color: #000000;
}

.search{
    display: flex;
    margin:0 auto;
    z-index: 2;
    border-radius: 4px;
}

.search span{
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #818589;
}

.search input{
    padding:8px 20px 8px 8px;
    font-size: 18px;
    border: 0 none;
    background-color:#f1f3f4;
    flex-grow: 1;
}

.search ::-webkit-input-placeholder { 
    padding-left: 30px;
}

/* intro */
.intro{
    height: 100%;
    padding: 20px 0px 20px 15px;
    background-color: #f1f3f4;
}

.card-title{
    margin-bottom: 30px;
}

.card-subtitle{
    margin-bottom: 30px;
}

.card-subtitle a{
    color: #2f82ba;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 80%;
    margin: 0 0px 15px 15px;
    border:1px solid #eef0f2;
    border-radius: 8px;
    background-color: #fff;
}

.card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-body{
    padding: 5px 18px 0px 18px;
    margin: 0;
}

.card h3{
    color: #2f82ba;
    font-size: 25px;
}

.card p{
    line-height: 1.5;
}

.card-body div{
    margin-bottom: 18px;
}

.card-body a{
    color: #2f82ba;
}

.card-body div a{
    color: #2f82ba;
}




/* media query */
@media screen and (min-width:600px){
    .language-selector{
        display: block;
    }
    .card{
        width: 45%;
    }
    .card-head{
        display: flex;
        justify-content: space-between;
    }
    .card-subtitle{
        margin-right:30px; 
    }
    .showcase .container{
        text-align: center;
    }
}

@media screen and (min-width:840px){
    .menu-burger{
        display: none;
    }
    .more-selector{
        display: block;
    }
}

@media screen and (min-width:900px){
    .search{
        width:816px;
    }
}

@media screen and (min-width:1088px){
    .blog{
        display: block;
    }
}

@media screen and (min-width:1102px){
    .blog{
        display: none;
    }
    .event{
        display: block;
    }
}

@media screen and (min-width:1135px){
    .event{
        display: none;
    }
    .products{
        display: block;
    }
}

@media screen and (min-width:1153px){
    .products, .event, .developer-community, .blog{
        display: block;
    }
    .menu{
        width: 60%;
    }
    .side-menu{
        width: 15%;
    }
    .more-selector{
        display: none;
    }
}



